{% extends "main.html.j2" %}
{% block content %}

{% if logged_in %}
<contacts tags="{{tags}}"></contacts>
{% else %}
<p>Not logged in.</p>
{% endif %}

{% if 'me' in session or g.user %}
<h2>Session</h2>
Here's what Facebook told us:
<dl>
{% for key in g.user %}
<dt>{{key | e}}</dt>
<dd>{{g.user[key] | e}}</dd>
{% endfor %}
</dl>
{% endif %}

{% endblock %}
