.person .note {
  background-color: lightgray;
}

table {
    border-collapse: collapse;
}

table.people {
    width: 100%;
}

table td, table th {
    border: 1px solid lightgray;
}

table td.name {
    white-space: nowrap;
}

table td.phones li {
    white-space: nowrap;
    vertical-align: middle;
    font-family: monospace;
}
table td.phones ul {
    list-style: none;
    padding-left: 0;
    height: 100%;
    margin: 0;
    vertical-align: middle;
}

table.people tr:hover {
    background-color: lightgray;
}

ul.tags {
    padding-left: 0;
}

ul.tags li {
    display: inline-block;
    background-color: lightgray;
    border-radius: 0.5em;
    padding: 0.25em;
    margin: 0.25em;
}
